/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*Global*/
@font-face{
	font-family: Tangerine;
	src: url('https://fonts.gstatic.com/s/tangerine/v10/IurY6Y5j_oScZZow4VOxCZZM.woff2');
}
@keyframes button{
	50%{
		border-radius: 50%;
		padding: 20px;
		border: 1.5px dashed black;
	}
	to{
		transform: rotate(360deg);
	}
}
html{
	box-sizing: border-box;
}
body{
	margin: 0px;
}
.container{
	width: 800px;
	margin: 0px auto;
}
.main{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
p{
	font-family: Tangerine;
	font-size: 20px;
}

/*Nav*/
nav{
	height: 75px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	position: sticky;
	top: 0px;
	background: grey;
}
nav a{
	margin: 0px 20px 0px 20px;
	color: lightgrey;
	text-decoration: none;
}
nav div{
	display: inline-block;
	margin: 20px 0px 0px 50px;
	height: 36px;
	width: 183px;
	background-image: url(../img/logo.png);
	background-size: contain;
}

/*Header*/
header{
	margin: 30px 0;
	width: 100%;
	height: 300px;
	text-align: right;
	vertical-align: baseline;
	border-bottom: 1px solid grey;
	display: inline-block;
}
header .header-text{
	display: inline-block;
	height: 300px;
	width: 300px;
	box-sizing: border-box;
	padding: 0px 30px;
	margin: 0px 0px;
	text-align: center;
}
header h1{
	display: inline-block;
	font-size: 60px;
	text-align: center;
}
header button{
	background: white;
	border: 1px solid black;
	padding: 2.5px 20px;
}
header button:hover{
	animation: button 5s linear 0s infinite normal;
}
header .header-image{
	display: inline-block;
	height: 250px;
	width: 50%;
	box-sizing: border-box;
	text-align: right;
	background-image: url('../img/header-img.png');
	background-size: contain;
	background-repeat: no-repeat;
}
header img{
	height: 250px;
}

/*Top-Main + Mid Img*/
.top{
	width: 100%;
	height: 125px;
	vertical-align: top;
}
.top div{
	width: 49%;
	display: inline-block;
	box-sizing: border-box;
}
.top h2{
	margin-bottom: 15px;
}
.middle-img{
	width: 100%;
	height: 166px;
	background-image: url(../img/mid-page-accent.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*Bottom-Main*/
.bottom{
	padding: 25px 0px;
	width: 100%;
	vertical-align: top;
	border-bottom: 1px grey solid;
}
.bottom div{
	width: 33%;
	display: inline-block;
	box-sizing: border-box;
}
.bottom h2{
	margin-bottom: 15px;
}
address{
	margin-top: 25px;
}

/*Footer*/
footer{
	text-align: center;
	margin: 50px 0px;
}